.invs, .invs:focus {
    border: none;
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 99;
}
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.abs{
    position: absolute;
}

.bold{
    font-weight: bold;
}

.offcanvas-body a:hover {
    text-decoration: underline;
}


.menus{
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.klikus{
    width: 100%;
}

.klikus:hover{
    background-color: rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.menu_wrapper {
    height: 100%;
}

.selec {
    background-color: rgba(0, 0, 0, 0.075);
    font-weight: bold; 
}

.Profilus {
    width: 100%;
    /* background-color: aqua; */
    height: 100vh;
}

.img_div{
    height: max(15vh,175px);
    width: max(15vh,175px);
    border-radius: 50%;
}

/* .card_img_container{
    min-height: 200px;
}
.img_div{
    height: 125px;
    width: 125px;
    border-radius: 50%;
} */

.dano_zmieniaczus {
    width: 100%;
    /* height: 200px; */
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 20px
}
.stoprocentus {
    width:100%;
}

.bat {
    background-color: #0A4F9D;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}

.bat:hover{
    transition: 0.25s;
    background-color: #88EAFF;
    color: black;
}

.ed {
    background-color: #0A4F9D;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}

.ed:hover{
    transition: 0.25s;
    background-color: #88EAFF;
    color: black;
}

.inputa, .inputa:focus {
    outline: none;
    border-style: none;
    border-bottom: solid 1px hsla(0, 0%, 38%, 0.4);
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    width: 100%;
}


.inputa::placeholder{
    color: hsla(0, 0%, 38%, 0.4);
    
}

.image_con{
    height: max(20vh,250px);
    width: max(80%,250px);
    position: relative;
    padding-bottom:80%;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 10px;
}

/* .testleft {
    background-color: red;
} */
/* .testa {
    background-color: aqua;
} */

.offer_input, .offer_input:focus{
    outline: none;
    border-style: none;
    border-bottom: solid 1px hsla(0, 0%, 38%, 0.4);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}

.offer_input::placeholder{
    color: hsla(0, 0%, 38%, 0.4);
    
}

.form-control{
    height: 20vh;
}

.labelek{
    color: hsla(0, 0%, 38%, 0.4);

}
.showcase {
    overflow: auto; /*..will introduce scroll bar when needed..*/
    max-height: 100vh;
    color:black;
}
.offerus_w{
    width: 100%;
}
.offer_card{
    width: 100%;
    border-top: solid 1px hsla(0, 0%, 0%, 0.25);
    border-bottom: solid 1px hsla(0, 0%, 0%, 0.25);
    min-height: 200px;
    text-decoration: none;
    color:black;
}

.card_img_container{
    min-height: 200px;
    margin-right: 37.5px;
    margin-left: 37.5px;
}
.img_div{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.dropdown-menu {
    border:none
}

.bat_b {
    background-color: #AD0000;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}

.bat_b:hover{
    transition: 0.25s;
    background-color: #ff3737;
    color: white;
}

.bat_ok {
    background-color: #0e7a20;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.25s;
}

.bat_ok:hover{
    transition: 0.25s;
    background-color: #0a9521;
    color: white;
}

.button_wrapper{
    height: 100%;
}

.batonik {
    background-color: #0A4F9D;
    color: white;
    border: none;
    border-radius: 10px;
    min-width: 20%;
    transition: 0.25s;
}

.batonik:hover{
    transition: 0.25s;
    background-color: #88EAFF;
    color: black;
}

table, tr, td {
    border: 1px solid black;
}
