
<div class="text-center">
    <a href="#/loginus" class="d-inline-block mt-5" *ngIf="ReadCookie() == -1"> DO Logowania</a><br>
    <a href="#/ofertus"> DO ofert</a>
    <br>
    <a href="#/rankingus"> ranking</a>
</div>
<section class="row ">
    <div class="col-0 col-lg-1 col-xl-2">
        
    </div>
    <div class="showcase col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 p-0 m-0">
        <div class="offerus_w d-flex flex-column align-items-center mt-3 mb-4">
            <h1 class="bold fs-1">Najnowsze Oferty</h1>
        </div>


        <!-- 
            ==========================================
                             KARTA OFERTY 
            ==========================================
        -->


        <!-- <a *ngFor="let of of displayed; index as i;" class="offer_card d-flex flex-column flex-md-row" href="loginus"> -->
        <div *ngFor="let of of oferty">
        <a *ngIf="of.is_blocked == false && of.is_active"  class="offer_card d-flex flex-column flex-md-row">
            <div class="card_img_container d-flex align-items-center justify-content-center mw-250">
                <div class="img_div" style="background: url('{{of.img}}'); background-position: center; background-size: cover"></div>
            </div>                         <!--        /\ /\ /\ OBRAZ /\ /\ /\ 
            -->
            <div class="info_wrapper d-flex flex-column aling-items-center justify-content-center text-center text-md-start">
                <h2 class="bold fs-3 mt-3">{{of.nazwa}}</h2> <!-- <=================== TYTUL -->
                <div class="d-flex justify-content-center justify-content-md-start">
                    <h3 class="fs-5 me-3">{{of.location}}</h3> <!-- <================== LOKALIZACJA -->
                    <h3 class="fs-5 bold">{{of.stawka}}/h</h3> <!-- <================= STAWKA -->
                </div>
                <div class="overflow-hidden aaa me-4">
                        <p class="placz m-0 fs-6">
                            opis <!-- <======================================= OPIS -->
                        </p>
                </div>
                <p class="mt-1 bok">{{of.do_kiedus}}</p> <!-- <======================= DO KIEDY -->
            </div>
        </a>
        </div>


       
    </div>

    <div class="col-0 col-lg-1 col-xl-2">

    </div>

</section>