<button class="navbar-toggler invs" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
  aria-controls="offcanvasNavbar">
  <img src="assets/burgir2.svg" style="width: 50px; height: 50px;" class="d-md-none" alt="">
  <img src="assets/burgir.svg" style="width: 50px; height: 50px;"
    class="d-sm-none d-none d-md-block d-lg-block d-xl-block d-xxl-block" alt="">
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title bold fs-3 mt-2" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link testy" aria-current="page" href="#/homus">Strona Główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link testy" href="#">Profil</a>
      </li>
      <li class="nav-item mt-4 bold">
        <a class="nav-link sus" href="#/loginus">Zaloguj</a>
      </li>
    </ul>
  </div>
</div>
<section class="wrapper">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-3 abs d-flex justify-content-center">
            <div class="log_form mt-5">
                <h1 class="bold text-start mb-5 mt-4 fs-1">Rejestracja</h1>
                <!-- <div class="mb-2 d-flex justify-content-between">
                    <input type="text" class="col-5 py-1 px-2 fs-6" placeholder="imie">
                    <input type="text" class="col-5 py-1 px-2 fs-6" placeholder="nazwisko"> 
                </div> -->
                <input type="text" class="mt-3 mb-2 py-1 px-2 fs-6 widus" placeholder="nazwa użytkownika" [(ngModel)]="username">
                <input type="email" class="mt-3 mb-2 py-1 px-2 fs-6 widus" placeholder="email" [(ngModel)]="email">
                <input type="password" class="mt-3 mb-2 py-1 px-2 fs-6 widus" placeholder="hasło" [(ngModel)]="pass">
                <input type="password" class="mt-3 mb-2 py-1 px-2 fs-6 widus" placeholder="powtórz hasło" [(ngModel)]="passrepeat">
                <!-- <div class="mb-3 mt-3 d-flex grid justify-content-between beczka">
                  <input type="password" class="beka py-1 px-2 fs-6" placeholder="hasło">
                  <input type="password" class="beka py-1 px-2 fs-6" placeholder="powtórz hasło">
                </div>  -->
                <select class="form-select selectus" aria-label="Default select example" [(ngModel)]="selector">
                  <option selected>Kim ty jesteś straszydle???</option>
                  <option>Zleceniobiorca</option>
                  <option>Zleceniodawca</option>
                  <option>Oba</option>
                </select>
                <button class="bold bat mt-3 py-2 fs-4" (click)="SendData()">rejestruj</button>
                <a class="fs-6 col-xxl-6 text-start d-block mt-3" href="#/loginus">zaloguj się</a>
            </div>
        </div>

         <!-- 
            na wide trzeba powiększyć!!!!!  !!!! !! !!  !! !! ! !!!!
        -->
    </div>
</section>
