<section class="wrapper">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-3 abs d-flex justify-content-center">
            <div class="log_form mt-5">
                <h1 class="bold text-start mb-5 mt-4 fs-1">Rejestracja</h1>
                <div class="mb-2 d-flex justify-content-between">
                    <input type="text" class="col-5 py-1 px-2 fs-6" placeholder="imie">
                    <input type="text" class="col-5 py-1 px-2 fs-6" placeholder="nazwisko"> 
                </div>
                <input type="email" class="mt-3 mb-2 py-2 px-2 fs-6 widus" placeholder="login">
                <input type="email" class="mt-3 mb-2 py-2 px-2 fs-6 widus" placeholder="email">
                <input type="password" class="mt-3 mb-2 py-2 px-2 fs-6 widus" placeholder="hasło">
                <input type="password" class="mt-3 mb-2 py-2 px-2 fs-6 widus" placeholder="powtórz hasło"> 
    
                <button class="bold bat mt-3 py-2 fs-4">rejestruj</button>
                <a class="fs-6 col-xxl-6 text-start d-block mt-3">zaloguj się</a>
            </div>
        </div>

         <!-- 
            na wide trzeba powiększyć!!!!!  !!!! !! !!  !! !! ! !!!!
        -->
    </div>
</section>
