<!-- <p>ofertuspodgladus works!</p>
<img src="{{selected.img}}">
<div *ngIf="con">
    <button *ngIf="condition == false" (click)="Klikus()">Zgłoś siem</button>
    <button *ngIf="condition">Odzgłoś się</button>
</div> -->
<div class="row wrap">


    <!-- 
        ===========================================================
                                    LEWA STRONA (OFERTA) 
        ===========================================================
    -->
    <div class="mainek col-lg-8 col-xl-8 col-xxl-9 d-flex justify-content-center overflow-auto">
        <div class="leftcenter d-flex flex-column align-items-center">
            <h2 class="fs-1 bold text-center mb-5 pt-4"><span *ngIf="!edytus">{{przykladus.tytulus}} </span> <!-- <===== Tytuł -->
                <span *ngIf="edytus"><input type="text" class="inpucik ps-2 py-2 fs-1 bold" placeholder="Tytuł" [(ngModel)]="edited_title"></span></h2> <!-- <===== Tytuł -->

            <div class="imgconik d-flex align-items-center justify-content-center mw-250">

                <img src="{{selected.img}}" alt="" class="img_divik"> <!-- <===== Zdjęcie -->
            </div>
            <button *ngIf="edytus" class="bat_e bold px-5 py-2 fs-4 mt-4 text-center">Zmień zdjęcie</button> <!-- <===== Zmień zdjęcie -->

            <div class="row tw1 mt-5">
                <p class="col-12 col-sm-6 text-start fs-4 mt-2 mt-sm-0"><span class="bold">Twórca:</span> {{przykladus.creatus}}</p> <!-- <===== Twórca -->

                <p class="col-12 col-sm-6 text-sm-end fs-4 mt-2 mt-sm-0"><span class="bold">Data:</span> <span *ngIf="!edytus">{{przykladus.datus}}</span> <!-- <===== Data do kiedy -->
                    <span *ngIf="edytus"><input type="date" class="inpucik ps-2 fs-5 py-1" placeholder="Do kiedy" [(ngModel)]="edited_date"></span></p> <!-- <===== Data do kiedy -->
            </div>

            <div class="row tw1 mt-sm-4">
                <p class="col-12 col-sm-6 text-sm-start fs-4 mt-2 mt-sm-0"><span class="bold">Lokalizacja:</span> <span *ngIf="!edytus">{{przykladus.lokalizacjus}}</span> <!-- <===== Loklizacja -->
                    <span *ngIf="edytus"><input type="text" class="inpucik ps-2 fs-5 py-1" placeholder="Lokalizacja" [(ngModel)]="edited_localization"></span></p> <!-- <===== Loklizacja -->

                <p class="col-12 col-sm-6 text-sm-end fs-4 mt-2 mt-sm-0"><span class="bold">Stawka:</span> <span *ngIf="!edytus">{{przykladus.stawkus}}</span> <!-- <===== Stawka --> 
                    <span *ngIf="edytus"> <input type="text" class="inpucik ps-2 fs-5 py-1" placeholder="Stawka" [(ngModel)]="edited_salary"></span></p> <!-- <===== Stawka -->

            </div>
            <div class="opisek mt-4">
                <h2 class="fs-1 bold text-center">Opis</h2>

                <p *ngIf="!edytus" class="fs-5 text-center my-3">{{przykladus.opisus}}</p> <!-- <===== Opis -->
                <div *ngIf="edytus" class="form-floating my-3">
                    <textarea class="form-control fs-6" placeholder="Opis" id="Opis" [(ngModel)]="edited_description"></textarea> <!-- <===== Opis -->
                    <label for="Opis" class="fs-5 labelek">Opis oferty</label>
                </div>
            </div>
        </div>
    </div>


    <!-- 
        ==================================================================
                                    PRAWA STRONA (DZIAŁANIA I ZGŁOSZENI)
        ==================================================================
    -->

    <div class="addi col-lg-4 col-xl-4 col-xxl-3 d-flex flex-column align-items-center overflow-auto">
        <h2 class="fs-1 bold mt-4 text-center">Działania</h2>

        <button *ngIf="isZalogowanus && !isCreatus && !isAdminus" class="bat bold px-5 py-2 fs-4 mt-4 text-center">Zgłoś się</button>

        <p *ngIf="!isZalogowanus" class="fs-5 mt-4 text-center">Zaloguj się aby móc zgłosić się do oferty!</p>

        <button *ngIf="isZalogowanus && !isCreatus && !isAdminus" class="bat_r bold px-5 py-2 fs-4 mt-4 text-center">Zreportuj</button>

        <button *ngIf="isCreatus && !isAdminus && !edytus" class="bat bold px-5 py-2 fs-4 mt-4 text-center" (click)="changusEdytus()">Edytuj</button>  
        <button *ngIf="isCreatus && !isAdminus && edytus" class="bat bold px-5 py-2 fs-4 mt-4 text-center" (click)="changusEdytus()">Zapisz</button>    

        <button *ngIf="isAdminus" class="bat_r bold px-5 py-2 fs-4 mt-4 text-center">Bana masz</button>

        <div *ngIf="isCreatus && !isAdminus" class="d-flex flex-column align-items-center">
            <h2 class="bold mt-5 text-center fs-2">Zgłoszeni do wykonania</h2>

            <div class="zbior_wyk">

                <div *ngFor="let p of arrajus; index as i" class="karta_wyk mt-4 mb-2">
                    <div class="card_img_container d-flex align-items-center justify-content-center mw-250" (click)="showProfilus(i)">
                        <div class="img_div" style="background: url({{p.imgus}}); background-position: center; background-size: cover"></div> <!-- <===== Zdjęcie profilu -->
                    </div>
                    <p class="bold text-center fs-5 pb-2">{{p.imienius}}</p> <!-- <===== Imie profilu -->
                </div>

            </div>
        </div>
    </div>
</div>



    <!-- 
        ===========================================================
                                    KARTA PROFILU 
        ===========================================================
    -->

<div *ngIf="isWybranus" class="profil_wrapper d-flex justify-content-center align-items-center">
    <p class="fs-1 bold wyjscie mt-3 me-4" (click)="closeProfilus()">X</p>
    <div class="prof_card">
        <div class="prof_card_r text-center">
            <div class="img_prof_wrap d-flex align-items-center justify-content-center">
                <div class="img_prof mt-4" style="background: url({{wybranus.imgus}}); background-position: center; background-size: cover"></div> <!-- <===== Zdjęcie profilu -->
            </div>
            <h2 class="bold fs-2 mt-4">{{wybranus.imienius}}</h2> <!-- <===== Imie profilu -->

            <p class="mt-3 fs-5">Średnia gwiazdek: <span class="gwiazdki">{{wybranus.gwiazdkus}}</span></p> <!-- <===== średnia gwiazdek -->

            <div class="last_zlec">
                <h3 class="fs-5 bold mt-3">Ostatnie zlecenie:</h3>
                <div class="d-flex zlec_wrapper mt-4">
                    <div class="last_zlec_img_wrap d-flex align-items-center ms-4 justify-content-center">
                        <div class="img_last_zlec" style="background: url('assets/login_bg.png'); background-position: center; background-size: cover"></div>
                    </div>
                    <div class="row dzialaj mx-2 mb-1">
                        <p class="fs-5 bold col-12 text-start">Tytuł zlecenia</p> <!-- <===== Tytuł ostatniego zlecenia -->
                        <p class="opis_zlecenia fs-6 col-12 text-start">Jest troche szurnięty HHAHAHHAHAHAHA lolol xddd</p><!-- <===== Opis ostatniego zlecenia -->
                    </div>
                </div>
            </div>
            <button class="bat_zat mt-4 py-2 px-2 fs-5 bold">Zatrudnij</button> <!-- <===== Zatrudnij przycisk -->
        </div>
    </div>
    
</div>