<button class="navbar-toggler invs" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
  aria-controls="offcanvasNavbar">
  <img src="assets/burgir2.svg" style="width: 50px; height: 50px;" class="d-md-none" alt="">
  <img src="assets/burgir.svg" style="width: 50px; height: 50px;"
    class="d-sm-none d-none d-md-block d-lg-block d-xl-block d-xxl-block" alt="">
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title bold fs-3 mt-2" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link testy" aria-current="page" href="#/homus">Strona Główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link testy" href="#">Profil</a>
      </li>
      <li class="nav-item mt-4 bold">
        <a class="nav-link sus" href="#/loginus">Zaloguj</a>
      </li>
    </ul>
  </div>
</div>
<section class="wrapper">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-7 col-lg-5 col-xl-5 col-xxl-3 abs d-flex justify-content-center">
            <div class="log_form mt-5">
                <h1 class="bold text-start mb-5 mt-5 fs-1">Logowanie</h1>
                <div class="d-flex flex-column my-4">
                    <input type="email" class="my-3 py-2 px-2 fs-5" placeholder="email" [(ngModel)]="em">
                    <input type="password" class="my-3 py-2 px-2 fs-5" placeholder="hasło" [(ngModel)]="pass"> 
                </div>
    
                <button class="bold bat py-2 fs-4" (click)="Redirect()">zaloguj</button>
                <div class="row mt-4">
                    <a class="fs-6 col-xxl-6 text-start mt-2" href="#/registrus">zarejestruj się</a>
                    <a class="fs-6 col-xxl-6 text-xxl-end mt-2">reset hasła</a>
                </div>
            </div>
        </div>
    </div>
        <!-- 
            na wide trzeba powiększyć!!!!!  !!!! !! !!  !! !! ! !!!!
        -->
</section>