<section class="wrapper">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-3 abs d-flex justify-content-center">
            <div class="log_form mt-5">
                <h1 class="bold text-start mb-5 mt-5 fs-1">Logowanie</h1>
                <div class="d-flex flex-column my-5">
                    <input type="email" class="my-3 py-2 px-2 fs-4" placeholder="email">
                    <input type="password" class="my-3 py-2 px-2 fs-4" placeholder="hasło"> 
                </div>
    
                <button class="bold bat py-2 fs-4">zaloguj</button>
                <div class="row mt-4">
                    <a class="fs-6 col-xxl-6 text-start mt-2">zarejestruj się</a>
                    <a class="fs-6 col-xxl-6 text-xxl-end mt-2">reset hasła</a>
                </div>
            </div>
        </div>
    </div>
</section>