<button class="navbar-toggler invs" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
  aria-controls="offcanvasNavbar">
  <img src="assets/burgir2.svg" style="width: 50px; height: 50px;" class="d-md-none" alt="">
  <img src="assets/burgir2.svg" style="width: 50px; height: 50px;"
    class="d-sm-none d-none d-md-block d-lg-block d-xl-block d-xxl-block" alt="">
</button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title bold fs-3 mt-2" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
      <li class="nav-item">
        <a class="nav-link testy" aria-current="page" href="homus">Strona Główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link testy" href="#">Profil</a>
      </li>
      <li class="nav-item mt-4 bold">
        <a class="nav-link sus" href="loginus">Zaloguj</a>
      </li>
    </ul>
  </div>
</div>

<button class="navbar-toggler invs_filter d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"
  aria-controls="offcanvasNavbar">
    <h2 class="bold">&#8810;</h2>
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasNavbarLabel">
    <div class="filter_wrapper ms-3 mt-3">
        <a type="button" data-bs-dismiss="offcanvas" class="bold" aria-label="Close">X</a>
        <h1 class="bold mt-2">Filtry</h1>
        <div class="p-0 m-0 d-flex justify-content-between">
            <label for="customRange1" class="form-label col-6 p-0">wynagrodzenie</label>
            <p class="">działąjjjjjjjj</p>
        </div>
        <input type="range" class="form-range slider" id="slider" id="customRange1">

        <div class="dropdown mt-4">
            <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Miasto
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>

        <div class="dropdown mt-4">
            <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Rodzaj
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>



        <h1 class="bold mt-5">Sortowanie</h1>

        
        <div class="dropdown mt-4">
            <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Wynagrodzenie
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Rosnąco</a></li>
              <li><a class="dropdown-item" href="#">Malejąco</a></li>
            </ul>
        </div>

        <div class="dropdown mt-4">
            <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Data
            </a>
          
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Rosnąco</a></li>
                <li><a class="dropdown-item" href="#">Malejąco</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="main row p-0 m-0">
    <div class="filter p-0 m-0 d-none col-3 d-lg-flex justify-content-center">
        <div class="filter_wrapper">
            <h1 class="bold mt-4">Filtry</h1>
            <div class="p-0 m-0 d-flex justify-content-between">
                <label for="customRange1" class="form-label col-6 p-0">wynagrodzenie</label>
                <p class="">działąjjjjjjjj</p>
            </div>
            <input type="range" class="form-range slider" id="slider" id="customRange1">

            <div class="dropdown mt-4">
                <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Miasto
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

            <div class="dropdown mt-4">
                <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Rodzaj
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>



            <h1 class="bold mt-5">Sortowanie</h1>

            
            <div class="dropdown mt-4">
                <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Wynagrodzenie
                </a>
              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Rosnąco</a></li>
                  <li><a class="dropdown-item" href="#">Malejąco</a></li>
                </ul>
            </div>

            <div class="dropdown mt-4">
                <a class="dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Data
                </a>
              
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Rosnąco</a></li>
                    <li><a class="dropdown-item" href="#">Malejąco</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="showcase col-12 col-sm-12 col-md-12 col-lg-9 col-9 p-0 m-0">
        <div class="offerus_w d-flex flex-column align-items-center mt-3 mb-4">
            <h1 class="bold">Oferty</h1>
        </div>


        <!-- 
            ==========================================
                             KARTA OFERTY 
            ==========================================
        -->

        <a *ngFor="let of of oferty; index as i;" class="offer_card d-flex flex-column flex-md-row" href="loginus">
            <div class="card_img_container d-flex align-items-center justify-content-center mw-250">
                <div class="img_div" style="background: url('{{of.pfp}}'); background-position: center; background-size: cover"></div>
            </div>
            <div class="info_wrapper d-flex flex-column aling-items-center justify-content-center text-center text-md-start">
                <h2 class="bold fs-3 mt-3">{{of.tytul}}</h2>
                <div class="d-flex justify-content-center justify-content-md-start">
                    <h3 class="fs-5 me-3">{{of.miasto}}</h3>
                    <h3 class="fs-5 bold">{{of.wynagrodzenie}}/h</h3>
                </div>
                <div class="overflow-hidden aaa my-3">
                        <p class="placz m-0 fs-6">
                            {{of.opis}}
                        </p>
                </div>
                <p class="mt-1 bok">do {{of.dokiedy}}</p>
            </div>
        </a>


       
    </div>
</section>




        <!-- 
            ==========================================
                             TEMPLATE 
            ==========================================
        -->

<!--    <a class="offer_card d-flex" href="loginus">
            <div class="card_img_container d-flex align-items-center justify-content-center mw-250">
                <div class="img_div" style="background: url('assets/login_bg.png'); background-position: center; background-size: cover"></div>
            </div>
            <div class="info_wrapper">
                <h2 class="bold fs-3 mt-3">Tytuł</h2>
                <div class="d-flex">
                    <h3 class="fs-5 me-3">Miasto</h3>
                    <h3 class="fs-5 bold">Wynagrodzenie</h3>
                </div>
                <div class="overflow-hidden aaa me-4">
                        <p class="placz m-0 fs-6">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
                        
                            
                </div>
                <p class="mt-1 bok">do 01.09.1939</p>
            </div>
        </a> -->