/* img {
    height: 100px;
    width: 100px;
} */
* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.bold {
    font-weight: bold;
}
.testy a {
    text-decoration: none;
    color: hsla(0, 0%, 0%, 0.75);
}

.testy:hover {
    cursor: pointer;
    font-weight: bold;
    
}

.sus:hover {
    text-decoration: underline;
}

.invs{
    border: none;
}

.abs {
    position: absolute;
    top: 1%;
    right: 2%;
    z-index: 99;
}