<h2>Dodaj susa userusa: </h2>
<input type="text" [(ngModel)]="name">
<input type="email" [(ngModel)]="email">
<input type="password" [(ngModel)]="pass">
<button (click)="TestAdd()">Click</button>
<HR>
<div *ngIf="log == false">
  <h2>Log in</h2>
  <input type="email" [(ngModel)]="log_mail"><input type="password" [(ngModel)]="log_pass">
  <button (click)="Login()">Log in</button>
</div>
<div *ngIf="log">
  <h2>loggen in</h2>
  <img src="https://i.pinimg.com/originals/f1/0f/f7/f10ff70a7155e5ab666bcdd1b45b726d.jpg">
  <h3>user:   </h3>{{logged.name}}   <button (click)="Edit('name')">Edit</button><input type="text" [(ngModel)]="edit_n"><br>
  <h3>email:   </h3>{{logged.email}}   <button (click)="Edit('email')">Edit</button><input type="text" [(ngModel)]="edit_e"><br>
  <div *ngIf="logged.is_admin">
    <input type="number" [(ngModel)]="bannedID">
  </div>
</div>